body {
	background-color: green;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

#container {
	background-color: white;
	display: flex;
	flex-direction: row;
	width: 25vw;
	justify-content: space-around;
}

.section-title {
	background-color: red;
}

.section-value {
	background-color: blue;
	color: white;
}
